* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
  font-size: 12px;
  text-align: center;
  color: rgb(183, 183, 183);
}

article {
  position: relative;
}

.logo span {
  color: #fc4011;
}

.home {
  border: 1px solid orangered;
  padding: 15px;
  position: absolute;
  width: 70px;
  top: -9%;
  left: -20%;
  cursor: pointer;
  background: none;
  transition-duration: 0.1s;
}

.home:hover {
  background-color: orangered;
  color: white;
}

.container {
  width: 500px;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

h2 {
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: inline-block;
  padding-top: 20px;
  color: orangered;
  width: 100%;
  padding-bottom: 25px;
  text-align: center;
}

p {
  text-align: justify;
  line-height: 1.5;
  margin-bottom: 10px;
  font-size: 14px;
}

br {
  display: block;
  content: '';
  margin-bottom: 15px;
}

img {
  max-width: 40%;
  display: inline-block;
  padding-top: 40px;
}

.lang-highlight {
  color: orangered;
}

@media (max-width: 500px) {
  .container {
    width: 87vw;
  }

  p {
    text-align: justify;
  }

  h2 {
    padding-top: 0;
  }
}
