* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #343a40;
}

footer {
  display: none;
  font-size: 12px;
  text-align: center;
  color: rgb(183, 183, 183);
}

article {
  position: relative;
}

.logo span {
  color: #eaf3ec;
  /* color: #9eaeb5; */
}

.home {
  border: 1px solid orangered;
  padding: 15px;
  position: absolute;
  width: 70px;
  top: -9%;
  left: -20%;
  cursor: pointer;
  background: none;
  transition-duration: 0.1s;
}

.home:hover {
  background-color: orangered;
  color: white;
}

.container {
  width: 500px;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

h2 {
  font-size: 44px;
  letter-spacing: -1px;
  font-weight: 700;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

p {
  line-height: 1.8;
  margin-bottom: 10px;
  line-height: 1.8;
  font-weight: 400;
  font-size: 16px;
}

br {
  display: block;
  content: '';
  margin-bottom: 15px;
}

img {
  max-width: 40%;
  display: inline-block;
  padding-top: 40px;
}

.lang-highlight {
  color: orangered;
}

@media (max-width: 500px) {
  .container {
    width: 87vw;
  }

  p {
    text-align: justify;
  }

  h2 {
    padding-top: 0;
  }
}
