* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* COLOURS
MAIN:  #37b24d
DARK MAIN: #2b8a3e
GREY:  #343a40
ACCENT: #F49C37*/

header {
  width: 100%;
}

body {
  font-family: 'Inter', sans-serif;
}

h1 {
  font-size: 36px;
  /* 30 / 36 / 44 / 52 / 62 */
}

h1 a {
  transition: 0.15s ease;
  /* border: 1px solid transparent; */
}

h1 a:link {
  text-decoration: none;
  color: #95c59f;
}

h1 a:visited {
  text-decoration: none;
  color: #95c59f;
}

h1 a:hover {
  color: #f49c37;
  /* border: 1px solid #F49C37; */
}

.header-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 min(100px);

  flex-wrap: wrap;
  background-color: #091c0c;
  height: 65px;
  width: 100%;
}

.logo span {
  color: #eaf3ec;
  /* color: #9eaeb5; */
  /* color: #f49c37; */
}

.header-bar ul {
  display: flex;
}

.header-bar li {
  list-style: none;
  text-transform: uppercase;
  letter-spacing: -0.5px;
}

.header-bar li a {
  padding: 10px 20px;
  text-decoration: none;
  color: #95c59f;
  transition: 0.1s;
  /* border: 1px solid transparent; */
}

.header-bar li a:hover {
  color: #f49c37;
  /* border-color: orangered; */
}

@media (max-width: 600px) {
  .header-bar {
    height: rem;
    align-items: center;
    padding-bottom: 0.5rem;
    min-width: 100vw;
    min-width: -webkit-fill-available;
    margin-bottom: 20px;
    overflow: hidden;
  }

  .header-bar li a {
    text-decoration: none;
    color: white;
    transition: 0.1s;
    border: none;
  }

  .header-bar li a:hover {
    color: orangered;
  }

  .logo-blog {
    padding: 0 20%;
  }
}
