* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: white;
  font-size: 30px;
}

h1 a {
  transition: 0.15s ease;
  /* border: 1px solid transparent; */
}

h1 a:link {
  text-decoration: none;
  color: white;
}

h1 a:visited {
  text-decoration: none;
  color: white;
}

h1 a:hover {
  color: orangered;
  /* border: 1px solid orangered; */
}

.header-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #000000;
  height: 60px;
  width: 100%;
}

.logo span {
  color: #fca311;
}

.header-bar ul {
  display: flex;
}

.header-bar li {
  list-style: none;
  /* padding: 0 20px; */
}

.header-bar li a {
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  transition: 0.1s;
  border: 1px solid transparent;
}

.header-bar li a:hover {
  color: orangered;
  border-color: orangered;
}

@media (max-width: 600px) {
  .header-bar {
    height: rem;
    align-items: center;
    padding-bottom: 0.5rem;
    min-width: 100vw;
    min-width: -webkit-fill-available;
    margin-bottom: 20px;
  }
}
