* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: inter;
  line-height: 1;
  color: #343a40;
  position: relative;
  overflow-y: hidden;
}

.modal {
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 24%;
  right: 24%;
  background-color: white;
  color: #343a40;
  width: 800px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  z-index: 6;
}

.modal::-webkit-scrollbar {
  /* display: none; */
  width: 5px;
}

.modal::-webkit-scrollbar-track {
  background-color: #495057;
}

.modal::-webkit-scrollbar-thumb {
  background-color: #51cf66;
}

.modal-text {
  z-index: 4;
  margin-top: 320px;
  margin-right: 64px;
  margin-left: 64px;
  line-height: 1.5;
  font-size: 18px;
}

.modal-text h2 {
  font-family: merriweather;
  margin-bottom: 48px;
  text-align: center;
}

.modal-text p {
  margin-bottom: 16px;
}

.modal-text p:last-child {
  padding-bottom: 48px;
}

.background-img {
  width: 800px;
  height: 283px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid #343a40;
}

.hidden {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(0.5px);
  z-index: 5;
}

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  justify-content: center;
  align-items: start;
  gap: 80px;
  background-color: white;
  /* filter: brightness(0.3) blur(1px); */
  /* transform: scaleX(1.1); */
}

.blog-card {
  width: 250px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  cursor: pointer;
  position: relative;
  transition: scale 0.15s ease-in-out;
}

.blog-card:hover,
.blog-card:active {
  scale: 105%;
}

.blog-card-img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: center;
}

.tag-date {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  border-top: 1px solid black;
  padding-top: 8px;
  font-size: 10px;
}

.blog-heading {
  margin-top: 8px;
  font-family: merriweather;
  font-size: 20px;
}

.blog-card-text {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.25;
}

blockquote {
  white-space: pre-line;
  line-height: 0.8;
  margin-bottom: 48px;
  text-align: right;
  margin-right: 16px;
  /* background-color: #f1f3f5; */
  padding-right: 24px;
  padding-bottom: 16px;
  padding-top: 0;
  font-size: 16px;
  border-right: 1px solid #343a40;
  height: auto;
}

blockquote:nth-of-type(1) {
  margin-bottom: 12px;
}

blockquote:nth-of-type(2) {
  line-height: 1.7;
}

blockquote:nth-of-type(3),
blockquote:nth-of-type(4) {
  margin-top: 48px;
  margin-bottom: 48px;
}

.quote-undertext {
  color: #868e96;
}
