* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
  font-size: 12px;
  text-align: center;
  color: rgb(183, 183, 183);
}

article {
  position: relative;
}

.logo span {
  color: purple;
}

.home {
  border: 1px solid orangered;
  padding: 15px;
  position: absolute;
  width: 70px;
  top: -9%;
  left: -20%;
  cursor: pointer;
  background: none;
  transition-duration: 0.1s;
}

.home:hover {
  background-color: orangered;
  color: white;
}

.container {
  width: 500px;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

h2 {
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: inline-block;
  padding-top: 20px;
  color: orangered;
  width: 100%;
  padding-bottom: 25px;
  text-align: center;
}

p {
  text-align: justify;
  line-height: 1.5;
  margin-bottom: 10px;
  font-size: 14px;
}

br {
  display: block;
  content: '';
  margin-bottom: 15px;
}

img {
  width: 12rem;
  height: 10rem;

  object-fit: cover;
  display: inline-block;
  margin-top: 20px;
  transition: 0.15s ease;
}

img:hover {
  width: 12.5rem;
  height: 10.5rem;
}

.lang-highlight {
  color: orangered;
}

.container-games {
  text-align: center;
}

/* .container-games a {
  text-decoration: none;
} */

.preview-container {
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.game {
  padding: 0;
  text-align: center;
}

.game a {
  text-decoration: none;
}

.game a:link {
  color: orangered;
}

.game a:visited {
  color: orangered;
}

h4 {
  display: inline-block;
  width: 12rem;
  text-align: center;
}

@media (max-width: 600px) {
  .container {
    width: 87vw;
  }

  p {
    text-align: justify;
  }

  h2 {
    padding-top: 0;
  }

  .preview-container {
    margin: 0 5vw;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  img {
    max-width: 50vw;
    max-height: 50vw;
    scale: 50%;
    margin: 0;
  }

  .game-title {
    max-width: 30vw;
  }
}
