* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* COLOURS
MAIN:  #37b24d
DARK MAIN: #2b8a3e
GREY:  #343a40
ACCENT: #F49C37*/

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #343a40;
  border-bottom: 6px #091c0c solid;
  min-height: 100vh;
}

footer {
  display: none;
  font-size: 12px;
  text-align: center;
  color: #868e96;
}

/* Main Content */
article {
  position: relative;
}

.container {
  width: 32.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
  font-size: 16px;
  /* / 16 / 18 / 20 / 24 / 30 / */
}

.home-title {
  font-size: 44px;
  letter-spacing: -1.5px;
  font-weight: 700;
  /* 44 / 52 / 62 */
  margin-top: 30px;
  margin-bottom: 20px;
}

p {
  line-height: 1.8;
  margin-bottom: 10px;
}

.section-two a:link,
.section-two a:visited {
  color: #2b8a3e;
  text-decoration: none;
}

.see-you {
  margin-top: 30px;
  float: right;
  font-size: 13px;
}

.band-pics {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50px;
  transition: 0.07s;
}

.fav-bands a {
  text-decoration: none;
}

.band-pics:hover {
  opacity: 80%;
}

.band-pics:active {
  opacity: 50%;
}

.fav-bands {
  padding: 0;
  /* text-align: center; */
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fav-bands li {
  width: 100px;
  text-align: center;
  list-style: none;
  margin: 10px 10px;
  display: inline-block;
  padding: 5px;
}

@media (max-width: 500px) {
  .section-one p,
  .section-two p {
    padding: 0 1.5rem;
    width: 100vw;
  }

  .fav-bands {
    width: 100vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    scale: 90%;
  }

  .section-one {
    margin: 0;
  }

  .container {
    width: auto;
  }
}
