* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* header {
  width: 100%;
} */

/* .blog {
  border: 1px solid orangered;
  padding: 15px;
  width: 70px;
  position: absolute;
  top: 9%;
  left: -20%;
  cursor: pointer;
  background: none;
  transition-duration: 0.1s;
}

.blog:hover {
  background-color: orangered;
  color: white;
} */

.background--1 {
  width: 100%;
  /* height: 91vh; */
  height: 650px;
  position: absolute;
  filter: brightness(20%);

  background-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0),
      rgb(9, 28, 12, 0.9) 25%,
      rgb(9, 28, 12, 0.9) 75%,
      rgba(0, 0, 0, 0) 100%
    ),
    url('background-pics/background-coding.jpg');
  background-attachment: fixed;
  background-size: cover;
}

/* .background--1::before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(1.5px);
} */

body {
<<<<<<< Updated upstream
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* text-align: center; */
=======
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #fff;
  border-bottom: 6px #091c0c solid;
  min-height: 100vh;
>>>>>>> Stashed changes
}

footer {
  font-size: 12px;
  text-align: center;
  color: rgb(183, 183, 183);
}

/* Main Content */
article {
  position: relative;
}

.container {
  width: 32.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
<<<<<<< Updated upstream
=======
  font-size: 16px;
  color: #ebf7ed;
  /* / 16 / 18 / 20 / 24 / 30 / */
}

.home-title {
  align-self: center;
  display: block;
  font-size: 44px;
  letter-spacing: -1.5px;
  font-weight: 700;
  /* 44 / 52 / 62 */
  margin-top: 48px;
  margin-bottom: 24px;
}

.long-info {
  margin-top: 48px;
>>>>>>> Stashed changes
}

p {
  /* width: 280px; */
  text-align: justify;
  line-height: 1.5;
  margin-bottom: 10px;
  text-align: justify;
}

.section-one,
.section-two {
  display: inline-block;
  /* border-bottom: 2px solid; */
  text-align: justify;
  font-size: 14px;
}

.section-one {
  margin-top: 40px;
  width: 100%;
}

.section-one p:first-child {
  /* margin-bottom: 20px; */
}

.section-two {
  border: none;
  width: 100%;
  margin-top: 20px;
}

.section-two p {
  text-align: justify;
}

.section-two a:link,
.section-two a:visited {
  color: orangered;
  text-decoration: none;
}

.see-you {
  margin-top: 30px;
  float: right;
  font-size: 13px;
}

.band-pics {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50px;
  transition: 0.07s;
}

.fav-bands a {
  text-decoration: none;
}

.band-pics:hover {
  opacity: 80%;
}

.band-pics:active {
  opacity: 50%;
}

.fav-bands {
  padding: 0;
  /* text-align: center; */
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fav-bands li {
  width: 100px;
  text-align: center;
  list-style: none;
  margin: 10px 10px;
  display: inline-block;
  padding: 5px;
}

@media (max-width: 500px) {
  .section-one p,
  .section-two p {
    padding: 0 1.5rem;
    width: 100vw;
  }

  .fav-bands {
    width: 100vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    scale: 90%;
  }

  .section-one {
    margin: 0;
  }

  .container {
    width: auto;
  }
}
