@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Merriweather:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Merriweather:wght@400;700&display=swap");

:root {
  --color-primary: #343a40;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Inter;
  color: var(--color-primary);
  background-color: #f1f3f5;
}

.container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
}
