* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

.footer {
  /* background: black; */
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  position: absolute;
  bottom: 10px;
  left: 12px;
  width: 95%;
  margin: 0;
  padding: 0;
}

.footer button:first-child {
  margin-left: 32px;
}

.footer-btn {
  font-family: inter;
  height: 32px;
  font-size: 14px;
  padding: 0 0;
  background-color: white;
  color: #495057;
  border: none;
  border-bottom: 1px solid #495057;
  transition: 0.15 s ease-in-out;
  cursor: pointer;
}

.footer button:hover,
.footer button:active {
  padding: 0 10px;
}

.footer .logo {
  height: 48px;
  width: 130px;
  object-fit: cover;
  position: absolute;
  left: 45%;
  scale: 60%;

  filter: invert(1) brightness(0.3);
}
