<!-- FONTS -->
<!-- <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Merriweather:wght@400;700&display=swap"
      rel="stylesheet"
    /> -->

<!-- CSS -->
<!-- <link rel="stylesheet" href="nav.css" /> -->

<nav>
  <img src="../components/logo.svg" alt="" class="logo" />
  <button class="nav-btn">Home</button>
  <button class="nav-btn">Blog</button>
</nav>
<div class="progress-container" id="progress-container">
  <div class="progress-bar" id="my-bar"></div>
</div>
