<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>vvv's website</title>
    <!-- <link rel="stylesheet" href="header-style.css" /> -->
    <link rel="stylesheet" href="projects.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Merriweather:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <!-- <header></header> -->
  <!-- REFERENCE: https://www.previously.co/?ref=land-book.com -->

  <body>
    <!-- PROJECTS CARD -->
    <div class="projects-card">
      <!-- IMAGE -->
      <img
        class="projects-card-img"
        id="pig-game"
        src="../projects/pig-game-preview.png"
        alt=""
      />

      <!-- HEADING -->
      <h2 class="projects-heading">Pig Game</h2>
      <!-- CARD TEXT -->
      <p class="projects-card-text">
        Earn 100 points in total. You can either roll or hold. If you roll one,
        you lose your current score and it's the other player's turn.
      </p>
    </div>

    <script
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
      type="text/javascript"
    ></script>
    <script src="script.js"></script>
  </body>
  <!-- <footer>VVV Studios <footer> -->
</html>
