---
import Navigation from '../components/Navigation.astro';
import Hero from '../layouts/Hero.astro';
import Projects from '../layouts/Projects.astro';
import Skills from '../layouts/Skills.astro';
import About from '../layouts/About.astro';
import Footer from '../components/Footer.astro';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../src/styles/global.css" />

    <title>Astro</title>
  </head>
  <body>
    <Navigation />
    <div class="container">
      <Hero />

      <Projects />
      <Skills />

      <About />
    </div>

    <Footer />
  </body>
</html>
