---
---

<!-- test -->
<div class="project-card">
  <img class="project-card__image" src={imageLink} alt="" />
  <h3 class="project-card__heading">{projectName}</h3>
  <p class="project-card__subtext">
    {description}
  </p>
</div>

<style>
  .project-card {
    /* width: 450px; */
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 24px;
    box-shadow: 0 30px 30px 0 rgb(0 0 0 / 3%);
  }

  h3 {
    font-size: 24px;
  }

  img {
    width: 300px;
  }
</style>
