---
import logo from "../images/logo.svg";
---

<div class="footer">
  <div class="footer__links">
    <form action="https://www.linkedin.com/in/konstantin-frolov-71009b195/">
      <button class="footer-btn" id="button">LinkedIn</button>
    </form>

    <form action="https://www.instagram.com/deepsdogdeepsdog/">
      <button class="footer-btn" id="button">Instagram</button>
    </form>

    <form action="https://github.com/sawofwar">
      <button class="footer-btn" id="button">GitHub</button>
    </form>
  </div>

  <img src={logo} alt="" class="logo" onclick="window.location='/'" />
</div>

<style>
  .footer {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;

    bottom: 10px;
    left: 12px;
    width: 95%;
    margin: 0;
    overflow-x: hidden;
  }

  .footer-btn {
    font-family: inter;
    height: 32px;
    font-size: 14px;
    padding: 0 0;
    background-color: white;
    color: #495057;
    border: none;
    border-bottom: 1px solid #495057;
    transition: 0.15 s ease-in-out;
    cursor: pointer;
  }

  .footer button:hover,
  .footer button:active {
    padding: 0 10px;
  }

  .footer__links {
    display: flex;
    gap: 10px;
  }

  .footer__links:first-child {
    margin-left: 32px;
  }

  .logo {
    height: calc(48px * 0.7);
    width: calc(130px * 0.7);
    object-fit: cover;
    filter: invert(1) brightness(0.3);
    margin-left: 32px;
    cursor: pointer;
  }

  .logo:hover,
  .logo:focus {
    filter: opacity(0.8);
  }
</style>
