<div class="about">
  <p>
    My name is Constantine, and I am a <strong
      >front-end developer and QA engineer</strong
    > based in Batumi, Georgia.
  </p>
  <p>
    On my programming journey, I have created a few projects, which you can find
    above. In fact, this website is a project of mine too!
  </p>
  <p>The website is regularly updated.</p>
</div>

<style>
  .about {
    /* display: flex; */
    /* background-color: white; */
    color: #f8f9fa;
    flex-direction: column;
    align-items: center;
    gap: 48px;

    padding: 72px 0;
    /* margin: 0 auto; */
    /* padding-bottom: 80px; */
    background: url("src/images/daniel-olah-dFA5XycbhoQ-unsplash.jpg");
    background-size: 200%;
    background-repeat: no-repeat;
  }
  .about p {
    font-size: 18px;
    line-height: 2;
    margin: 0 30px;
  }
</style>
