---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";

import "../styles/global.css";
const { divClass } = Astro.props;
---

<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
    rel="stylesheet"
  />

  <meta name="generator" content={Astro.generator} />
  <title>VVV Studio</title>
</head>

<body>
  <Navigation />
  <div class={`${divClass}-wrapper`}>
    <slot />
  </div>
  <Footer />
</body>
