<div class="skills">
  <h2 class="skills__heading">Skills</h2>

  <div class="languages">
    <h3>Languages</h3>
    <p>
      With a degree in Translation, I am fully proficient in <span
        class="span-lang">English (C2)</span
      >
      and familiar with <span class="span-lang">German (B1)</span>.
    </p>
  </div>

  <div class="soft-skills">
    <h3 class="soft-skills-heading">Soft Skills</h3>
    <table class="soft-skills-table">
      <tbody>
        <tr>
          <td>&#x2022 Analytical thinking</td>
          <td>&#x2022 Flexibility</td>
        </tr>
        <tr>
          <td>&#x2022 Communication</td>
          <td>&#x2022 Team work</td>
        </tr>
        <tr>
          <td>&#x2022 Time management</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<style>
  .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 180px;
    /* overflow-x: hidden; */
  }

  .skills__heading {
    text-align: center;
    font-family: Merriweather;
    margin-top: 64px;
    margin-bottom: 24px;
    font-size: 44px;
  }

  .skills p {
    font-size: 18px;
    line-height: 2;
    margin: 0 30px;
  }

  .skills h3 {
    margin-bottom: 48px;
    font-size: 24px;
    font-family: inter;
    text-align: center;
  }

  .span-lang {
    font-weight: 700;
  }

  .languages p {
    margin-bottom: 40px;
    padding-bottom: 60px;
    border-bottom: 1px solid grey;
  }

  .soft-skills {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 18px;
    margin-top: 20px;
  }

  .soft-skills-table {
    border-collapse: collapse;
    table-layout: fixed;
  }

  .soft-skills-table td {
    width: 250px;
    padding-left: 24px;
    padding-bottom: 16px;
  }

  @media only screen and (max-width: 600px) {
    .skills__heading {
      font-size: 30px;
      letter-spacing: -0.8px;
    }

    .skills h3 {
      font-size: 24px;
    }
  }
</style>
